export('MWAS_stats')
export('JBA_binning')
export('JBA_corDistribution')
export('JBA_plotBins')
export('MWAS_KEGG_network')
export('MWAS_heatmap')
export('MWAS_KEGG_pathways')
export('MWAS_KEGG_shortestpaths')
export('MWAS_scatterplotMS')
export('QC_CV_scatterplot')
export('MWAS_SummarizedExperiment')
export('MWAS_filter')
export('CV_filter')
export('MWAS_barplot')
export('MWAS_bootstrapping')
export('MWAS_skylineNMR')
export('plot_spectraNMR')
export('QC_CV')
export('QC_CV_specNMR')
export('QC_PCA')
export('QC_PCA_scoreplot')
export('STOCSY_NMR')
export('MWAS_network')
import('glm2')
import('ggplot2')
import('ppcor')
import('qvalue')
importFrom('car',dataEllipse)
import('boot')
import('grid')
import('igraph')
import('SummarizedExperiment')
importFrom('KEGGgraph', getReactions, parseKGML)
import('RCurl')
import('KEGGREST')
import('ComplexHeatmap')
import('gridExtra')
importFrom('graphics', 'hist', 'matplot', 'plot', 'text', 'points')
importFrom('stats', 'binomial', 'cor', 'cor.test', 'cov', 'glm', 'lm',
           'na.omit', 'p.adjust', 'prcomp', 'sd', 'fisher.test',
           'as.dendrogram', 'as.dist', 'cutree', 'hclust',
           'order.dendrogram')
importFrom('utils', 'write.table', 'capture.output')
importFrom('utils', 'head')
importFrom('utils', 'tail')
importFrom("grDevices", "rainbow")
